# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep

# Model files
# Model files
models/*
!models/.gitkeep
!models/hybrid_model/
!models/hybrid_model/**

# Artifacts
artifacts/*
!artifacts/.gitkeep

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log